@import "../../App";
@import '~@red-hat-insights/insights-frontend-components/Utilities/_all';

.editable-item {
    visibility: hidden;
}

.portal-nav {
	padding-top: 16px;
	.portal-nav-sub-items {
		padding-left: 8px;
	}
	.pf-c-nav__link.active {
		color: #007bba;
		font-weight: 500;
		background-color: #f5f5f5;
	}
}
